
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html{
    height: 100%;
}

body{
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    background-color: rgb(118, 185, 185);
    min-width: 740px;
    height:100%;
}


/* MAIN CONTENT */

.mainContainer {
    display: flex;
    flex-direction: column;
}

.calculator {
    width: 100%;
    max-width:400px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(229, 115, 134);
    margin: 5vh auto 0;
    justify-content: center;
}

.display{
    display:flex;
    justify-content: right;
    align-items: center;
    padding: 2%;
    margin: 4% auto;
    height: 72px;
    width: 92%;
    border-radius: 5px;
    background-color:white;
    text-align: center;
    font-size: 30px;
    border: 2px solid grey;
}

/* BUTTONS */

.solarPanel{
    display:grid;
    border-radius: 5px;;
    grid-column: span 2;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(100, 100, 158);
    height: 48px;
    margin-top:12px;
    border: 2px solid grey;
}

.solarGrid{
    border-right: 1px dashed grey;
    }

.buttonContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:8px;
    margin: 4%;
}

.clear{
    background-color: rgb(224, 226, 226);
}

.equals{
    background-color:rgb(232, 221, 250) ;
    grid-column: span 2;
}

button{
    background-color: rgb(253, 231, 234);
    border-radius: 5px;;
    height:72px;
    font-size: 18px;
    border: 2px solid grey;
    font-family: inherit;
}









